.data_container {
  border: solid red 2px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.acct_sect {
  border: solid green 2px;
  height: fit-content;
  margin-top: 1.2rem;
  width: 90vw;
}

.acct_header *{
  background-color: #F7F7F7;
}

.acct_header{
  background-color: #F7F7F7;
  border-bottom: solid 2px #BBBBBB;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: yellow solid 2px;
}

.acct_title {
  /* flex: 5; */
}

.acct_bal {
  /* flex: 5; */
  border: dotted pink 2px;
}

.acct_list * {
  background-color: #FFFFFF;
}

.acct_item {
  border-bottom: solid 2px #d4cdcd;
  display: flex;
  width: 100%;
  padding: .8rem;
  justify-content: space-between;
}

/* .acct_name {
  flex: 5;
} */

.bal_info {
  /* flex: 5; */
  display: flex;
  flex-direction: column;
}
